html *{
  /* background-color:rgb(110, 44, 44); */
  background-color: #3B0D11;
  color:white;
  font-family: 'Playfair Display', serif;
}

.body{
  margin:30px;
  margin-top:50px;
}

.App-header{
  text-align:center;
  position: relative;

}

.what-drink-header{
  font-weight:700;
  font-style:italic;
  position:absolute;
  width:100%;
  left:0;
  background-color: transparent;
}

.cocktail-homepage-image{
  height:30%;
  width:30%;
  border-radius:50px;
}

.generate-button{
  height:100px;
  width:100px;
  border-radius: 50px;
  font-weight:700;
  font-style:italic;
  border-style:none;
  background-color: #F1EDEE;
  color:black
}


.generate-button:hover{
  background-color:#8AA29E;
  color:white;
  cursor: pointer;
  transition:ease-out 300ms;
}

.alcohols{
  margin-left:112px;
  margin-right:112px;
  position:relative;
  margin-top:50px;
  display:grid;
  /* width:1150px; */
  height:450px;
  /* border-style:solid;
  border-color: black; */
  grid-template-columns: repeat(5,230px);
  grid-template-rows: repeat(3, 150px);
  grid-template-areas:  'a a c c c'
                        'b d d d f'
                        'e e e e f';
}

.alcohols a{
  background-color: transparent;
  color:#94504C;
}

.alcohols a:hover {
  color:#ffd8d6;
  cursor:pointer;
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.Vodka{
  grid-area: a;
  font-size:150px;
  font-weight:900;
  text-decoration: none !important;
}

.Gin{
  font-size:115px;
  grid-area: b;
  font-weight:400;
  text-decoration: none !important;
}

.Tequila{
  /* position:absolute; */
  font-size:140px;
  letter-spacing: 0.2em;
  font-weight: 400;
  text-align:right;
  grid-area: c;
  text-decoration: none !important;

}

.Whiskey{
  grid-area: d;
  font-style:italic;
  font-size:120px;
  font-weight: 700;
  letter-spacing: 0.4em;
  text-decoration: none !important;

}

.Brandy{
  position:absolute;
  bottom:-15px;
  /* left:70px; */
  grid-area: e;
  font-size:165px;
  font-weight: 400;
  font-style:italic;
  letter-spacing: 0.4em;
  text-decoration: none !important;

}

.Rum{
  position:absolute;
  bottom:5px;
  left: 115px;
  font-size:70px;
  grid-area: f;
  font-weight: 600;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  text-decoration: none !important;

}

.text{
  word-spacing:2em;
}