.popup-box{
    position:fixed;
    left:60%;
    bottom:10%;
    width:35%;
    height:80%;
    background-color: #95404c;
    border-radius: 4.86vw;
}

.popup-header{
    font-size:3.47vw;
    padding:0.69vw;
    padding-top:3.08vw;
    text-align:center;
    background-color: #95404c;
    border-radius: 4.86vw;

}

/* 
.close-icon{
    position:absolute;
    top:5%;
    left:85%;
    
} */

.close-icon-popup{
    position:absolute;
    top:3%;
    left:85%;
    background-color: transparent;
    
}

[class*="close-icon"]:hover{
    cursor:pointer;
}
