.popup-box{
    position:fixed;
    left:55%;
    bottom:10%;
    width:40%;
    height:80%;
    background-color: #95404c;
    border-radius: 50px;
}

.popup-header{
    font-size:50px;
    padding:10px;
    padding-top:30px;
    text-align:center;
    background-color: #95404c;
    border-radius: 50px;

}

/* 
.close-icon{
    position:absolute;
    top:5%;
    left:85%;
    
} */

.close-icon-popup{
    position:absolute;
    top:5%;
    left:85%;
    background-color: transparent;
    
}

[class*="close-icon"]:hover{
    cursor:pointer;
}
